.main-content {
  width: 100%;
  height: 100%;
  display: flex;
}

.left-pane {
  width: 40%;
}

.pop-up {
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
}

.popup-displayed {
  opacity: 0.1;
  position: fixed;
}

.contact-tile {
  height: 150px;
  width: 60%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  margin-bottom: 20px;
  margin-left: 20%;
}

.contact-tile label,h1{
  padding-left: 10px;
  padding-top: 10px;
}

.contact-tile label{
  font-weight: bold;
}

